In [12]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from collections import Counter
import pickle

In [13]:
# Charger les données
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_data_dict = pd.read_excel('data dictionary.xlsx')

# Définir les colonnes à sélectionner pour l'entraînement du modèle
features = ['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats', 'Fuel_Type', 'Transmission', 'Owner_Type']

In [15]:
# Vectoriser la colonne "Name" en utilisant TF-IDF
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df_train['Name'])

# Appliquer le clustering k-means
kmeans = KMeans(n_clusters=10)
kmeans.fit(X)

# Ajouter les étiquettes de cluster à la colonne "Name"
df_train['Name_Cluster'] = kmeans.labels_

# Attribuer les noms de clusters les plus fréquents
cluster_names = []
for i in range(10):
    names = df_train['Name'][df_train['Name_Cluster'] == i]
    counter = Counter(names)
    cluster_name = counter.most_common(1)[0][0]
    cluster_names.append(cluster_name)

# Remplacer les valeurs dans la colonne "Name_Cluster" par les nouveaux noms de cluster
cluster_map = dict(zip(range(10), cluster_names))
df_train['Name_Cluster'] = df_train['Name_Cluster'].map(cluster_map)

In [16]:
# Nettoyer et préparer les données
df_train['Engine'] = df_train['Engine'].str.replace(' CC', '', regex=False)
df_train['Mileage'] = df_train['Mileage'].str.replace(' kmpl| km/kg', '', regex=True).astype(float)
df_train['Power'] = df_train['Power'].str.replace(' bhp', '').replace('null', np.nan).astype(float)
df_train = df_train.drop(['New_Price'], axis=1)
df_test = df_test.drop(['New_Price'], axis=1)

num_cols = ['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats']
cat_cols = ['Fuel_Type', 'Transmission', 'Owner_Type', 'Name_Cluster']

# Séparer les données en features et cible
X = df_train.drop(['Price'], axis=1)
y = df_train['Price']

In [17]:
# Définir les transformations pour les colonnes numériques et catégorielles
num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

cat_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combiner les transformations en une seule étape de prétraitement
preprocessor = ColumnTransformer([
    ('num', num_pipeline, num_cols),
    ('cat', cat_pipeline, cat_cols)
])

# Définir le modèle de régression
model = GradientBoostingRegressor(random_state=42)

# Créer la pipeline
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('model', model)
])

In [18]:
# Diviser les données d'entraînement en ensembles d'entraînement et de validation
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Entraîner le modèle sur les données d'entraînement
pipeline.fit(X_train, y_train)

# Évaluer les performances du modèle sur les données de validation
score = pipeline.score(X_val, y_val)
print('Score de la pipeline sur les données de validation :', score)

# Faire des prédictions sur les données de validation
y_pred = pipeline.predict(X_val)

# Coefficient de détermination (R²)
r2 = r2_score(y_val, y_pred)
print("R² :", r2)

# Erreur moyenne absolue (MAE)
mae = mean_absolute_error(y_val, y_pred)
print("MAE :", mae)

# Erreur quadratique moyenne (MSE)
mse = mean_squared_error(y_val, y_pred)
print("MSE :", mse)

# Erreur quadratique moyenne racine (RMSE)
rmse = np.sqrt(mse)
print("RMSE :", rmse)

Score de la pipeline sur les données de validation : 0.8577176866864733
R² : 0.8577176866864733
MAE : 1.9924380632134868
MSE : 17.509189181756298
RMSE : 4.184398305820838

In [19]:
# Enregistrer le modèle entraîné sous forme de fichier pickle
with open('trained_model.pkl', 'wb') as file:
    pickle.dump(pipeline, file)

In [20]:
# Nettoyer et préparer les données de test
df_test['Engine'] = df_test['Engine'].str.replace(' CC', '', regex=False)
df_test['Mileage'] = df_test['Mileage'].str.replace(' kmpl| km/kg', '', regex=True).astype(float)
df_test['Power'] = df_test['Power'].str.replace(' bhp', '').replace('null', np.nan).astype(float)

# Recréer le vectorizer pour la colonne 'Name'
vectorizer = TfidfVectorizer()
vectorizer.fit(df_train['Name'])

# Recréer le modèle KMeans pour la colonne 'Name'
kmeans = KMeans(n_clusters=10)
kmeans.fit(vectorizer.transform(df_train['Name']))

# Charger le modèle entraîné à partir du fichier pickle
with open('trained_model.pkl', 'rb') as file:
    loaded_pipeline = pickle.load(file)

# Transformer la colonne 'Name' dans df_test en utilisant le vectorizer
name_features = vectorizer.transform(df_test['Name'])

# Prédire les clusters pour la colonne 'Name' dans df_test
df_test['Name_Cluster'] = kmeans.predict(name_features)

# Séparer les données en features (la colonne Price n'est pas présente dans df_test)
X_test = df_test.copy()

# Transformer les données en utilisant le pipeline chargé
X_test_transformed = loaded_pipeline.named_steps['preprocessor'].transform(X_test)

# Faire des prédictions sur les données de test
y_pred = loaded_pipeline.named_steps['model'].predict(X_test_transformed)

# Ajouter les prédictions à la colonne 'New_Price' dans df_test
df_test['Price'] = y_pred

# Arrondir les valeurs de la colonne 'New_Price' à 2 décimales
df_test['Price'] = df_test['Price'].round(2)

In [21]:
df_test.head(10)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name_Cluster,Price
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26,998,58.20,4.0,9,4.18
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.70,796,47.30,5.0,9,2.74
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68,2393,147.80,7.0,2,18.00
3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59,1364,NaN,5.0,2,4.86
4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.50,1197,82.85,5.0,1,4.58
5,Mahindra XUV500 W8 2WD,Coimbatore,2016,85609,Diesel,Manual,Second,16.00,2179,140.00,7.0,2,11.93
6,Toyota Fortuner 4x2 AT TRD Sportivo,Pune,2015,59000,Diesel,Automatic,First,12.55,2982,168.70,7.0,2,23.35
7,Hyundai EON Era Plus,Jaipur,2013,65000,Petrol,Manual,First,21.10,814,55.20,5.0,2,2.99
8,Honda City 1.5 S MT,Mumbai,2011,66000,Petrol,Manual,Second,17.00,1497,118.00,5.0,8,3.72
9,Mahindra XUV500 W6 2WD,Coimbatore,2015,54684,Diesel,Manual,First,15.10,2179,140.00,7.0,2,11.35

In [22]:
conversion_rate = 87
lakh_conversion = 100000

# Convertir les prix en unités de lakhs en roupies indiennes
df_test['Price_Rupie'] = df_test['Price'] * lakh_conversion

# Convertir les prix en euros
df_test['Price_EUR'] = df_test['Price_Rupie'] / conversion_rate

# Arrondir les valeurs de la colonne 'New_Price_EUR' à 2 décimales
df_test['Price_EUR'] = df_test['Price_EUR'].round(2)

df_test.head(30)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Name_Cluster,Price,Price_Rupie,Price_EUR
0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26,998,58.20,4.0,9,4.18,418000.0,4804.60
1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.70,796,47.30,5.0,9,2.74,274000.0,3149.43
2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68,2393,147.80,7.0,2,18.00,1800000.0,20689.66
3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59,1364,NaN,5.0,2,4.86,486000.0,5586.21
4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.50,1197,82.85,5.0,1,4.58,458000.0,5264.37
5,Mahindra XUV500 W8 2WD,Coimbatore,2016,85609,Diesel,Manual,Second,16.00,2179,140.00,7.0,2,11.93,1193000.0,13712.64
6,Toyota Fortuner 4x2 AT TRD Sportivo,Pune,2015,59000,Diesel,Automatic,First,12.55,2982,168.70,7.0,2,23.35,2335000.0,26839.08
7,Hyundai EON Era Plus,Jaipur,2013,65000,Petrol,Manual,First,21.10,814,55.20,5.0,2,2.99,299000.0,3436.78
8,Honda City 1.5 S MT,Mumbai,2011,66000,Petrol,Manual,Second,17.00,1497,118.00,5.0,8,3.72,372000.0,4275.86
9,Mahindra XUV500 W6 2WD,Coimbatore,2015,54684,Diesel,Manual,First,15.10,2179,140.00,7.0,2,11.35,1135000.0,13045.98
10,Audi Q5 2008-2012 2.0 TDI,Mumbai,2012,78000,Diesel,Automatic,Second,12.80,1968,167.60,5.0,4,16.58,1658000.0,19057.47
11,Hyundai Grand i10 Magna,Jaipur,2016,21000,Petrol,Manual,First,18.90,1197,82.00,5.0,1,5.53,553000.0,6356.32
12,Toyota Corolla H5,Chennai,2007,90000,Petrol,Manual,Third,13.40,1794,125.00,5.0,2,2.54,254000.0,2919.54
13,Maruti Swift Vdi BSIII,Coimbatore,2008,87628,Diesel,Manual,First,17.80,1248,75.00,5.0,9,2.43,243000.0,2793.10
14,Nissan Terrano XL,Mumbai,2014,45000,Petrol,Manual,First,13.24,1598,102.50,5.0,2,5.58,558000.0,6413.79
15,BMW X1 sDrive20d,Coimbatore,2013,30788,Diesel,Automatic,First,17.05,1995,184.00,5.0,2,19.53,1953000.0,22448.28
16,BMW 3 Series GT 320d Luxury Line,Hyderabad,2015,39524,Diesel,Automatic,First,19.59,1995,184.00,5.0,2,24.83,2483000.0,28540.23
17,Ford Ikon 1.4 TDCi DuraTorq,Chennai,2009,140000,Diesel,Manual,First,13.80,1399,68.00,5.0,2,2.48,248000.0,2850.57
18,Maruti Swift AMT ZXI,Kochi,2019,15409,Petrol,Automatic,First,22.00,1197,81.80,5.0,0,7.54,754000.0,8666.67
19,Maruti Swift Dzire VXi,Jaipur,2015,36502,Petrol,Manual,First,17.50,1298,85.80,5.0,9,4.87,487000.0,5597.70
20,Maruti Ritz LDi,Pune,2016,200000,Diesel,Manual,First,23.20,1248,73.94,5.0,9,5.58,558000.0,6413.79
21,Nissan Micra XV,Delhi,2010,70000,Petrol,Manual,First,18.06,1198,75.00,5.0,2,2.14,214000.0,2459.77
22,Maruti Alto 800 2016-2019 LXI,Kochi,2017,36701,Petrol,Manual,First,24.70,796,47.30,5.0,9,4.24,424000.0,4873.56
23,Skoda Laura 1.8 TSI Ambition,Bangalore,2009,72000,Petrol,Manual,Second,17.50,NaN,NaN,NaN,2,2.91,291000.0,3344.83
24,Honda Civic 2010-2013 1.8 S MT Inspire,Bangalore,2011,40000,Petrol,Manual,Second,15.50,1799,132.00,5.0,8,4.17,417000.0,4793.10
25,Ford Ikon 1.3 Flair,Pune,2005,47000,Petrol,Manual,Second,13.80,1299,70.00,5.0,2,1.31,131000.0,1505.75
26,Maruti Alto LX,Pune,2006,93500,Petrol,Manual,Second,19.70,796,46.30,5.0,9,0.84,84000.0,965.52
27,Honda Jazz 1.5 V i DTEC,Pune,2015,52000,Diesel,Manual,First,27.30,1498,98.60,5.0,8,6.15,615000.0,7068.97
28,Skoda Rapid 1.5 TDI AT Ambition,Delhi,2015,55429,Diesel,Automatic,Second,21.66,1498,103.52,5.0,4,9.14,914000.0,10505.75
29,Hyundai i20 1.2 Sportz,Mumbai,2011,133000,Petrol,Manual,Second,17.00,1197,80.00,5.0,1,2.58,258000.0,2965.52